@import url("colors.css");

@font-face {
	font-family: 'Futura';
	src: url('https://fonts.googleapis.com/css?family=Futura');
}


.book-cover {
	width: 200px;
	height: 300px;
	overflow: hidden;
}

.book-cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

main {
	display: flex;
	justify-content: center;
	background-color: var(--light-grey-color);
}

.book {
	--book-height: 100vh;
	--book-ratio: 1.4;
}

.book>div {
	height: var(--book-height);
	width: calc(var(--book-height) / var(--book-ratio));
	overflow: auto;
	background-color: var(--dark-grey-color);
	transform: scale(0.9);
	border-radius: 6px;
	transform-origin: left;
}

.book-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9;
	text-align: center;
	background-size: 2em 2em;
	background-color: var(--dark-grey-color);
	color: white;
	transition: transform 2s;
}

h1 {
	font-size: 98px;
	font-weight: 300;
	color: var(--white-color);
}

h2 {
	font-size: 16px;
}

.separator {
	--separator-size: 8px;
	width: var(--separator-size);
	height: var(--separator-size);
	background-color: var(--white-color);
	margin: 50px auto 60px auto;
	border-radius: 50%;
	position: relative;
}

.separator::after,
.separator::before {
	content: "";
	position: absolute;
	width: 12px;
	background-color: var(--white-color);
	height: 2px;
	top: calc(50% - 1px);
}

.separator::after {
	left: 15px;
}

.separator::before {
	right: 15px;
}

.book-content {
	transform: scale(0.9) translateY(30px);
	background-color: var(--white-color) !important;
	transition: all 0.3s 1s;
}

.book-content h3,
.book-content p {
	opacity: 0;
	transition: all 0.3s 0.3s;
}

h3 {
	padding: 30px;
}

p {
	padding: 0px 30px 10px 30px;
	text-align: justify;
	font-size: 14px;
}

.book-cover>div {
	transition: opacity 0s 0.6s;
}

.book:hover>.book-cover {
	transform: rotateY(180deg) scale(0.9);
}

.book:hover>.book-cover>div {
	opacity: 0;
}

.book:hover>.book-content {
	transform: scale(0.9) translateY(0px);
}

.book:hover>.book-content h3,
.book:hover>.book-content p {
	opacity: 1;
}